

@use postcss-preset-env {
  stage: 0;
}



body {
  background: #f7b8b2;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-family: arial, sans-serif;
  font-size: 1rem;
  color: #1f1f1f;
}

.hand {
    width: 70%;
    height: max-content;
    background: #f9f6ed;
    padding: 20px 40px;
    border-radius: 12px;
    border: 1px solid #ffffff75;
    backdrop-filter: blur(8px);
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
}

.pen {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 36px 0;
    background: #f9f6ed;
    border-radius: 36px;
    backdrop-filter: blur(10px);
    position: relative;
    z-index: 1;
    width: 80%;
    margin: 0 auto;
    padding: 60px;
    flex-wrap: wrap;
    border:1px solid #ffffff4f;
}

.paper {
    width: 80%;
}

.button {
    background: #e65040;
    border: none;
    border-radius: 4px;
    color: #fff;
    padding: 16px 32px;
    cursor: pointer;
    display: block;
    width: min-content;
    margin: 24px auto;
}

.buttonGhost {
    background: #ffffff1f;
    box-shadow: inset 0px 0px 0px 1px #fff;
    font-size: 70%;
    padding: 12px;
}

.signature {
    background: #ffffff;
    padding: 36px;
    border-radius: 5px;
    box-shadow: none;
    min-width: 480px;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #dad7cb;
    margin-top: 40px;
}

label {
    display: block;
    font-size: 80%;
    color: #bfbeb9;
}

input {
    margin-bottom: 12px;
    padding: 12px 0  0 0;
    border: none;
    background: #f9f6ed;
    margin-top: 4px;
    border-bottom: 2px solid #bfbeb9;
    color: #6d6c69;
}

.formInputs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    column-gap: 1rem;
}

.colorGroups {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

h1 {
    text-align: center;
    font-size: 36px;
    margin: 0 auto 20px auto;
    color: #bfbeb9;
}

.colorGroups input {
    padding: 0;
    height: 50px;
    border: none;
}

body > div {
    height:1px;
    opacity:0;
    visibility:hidden;
}

@media only screen and (max-width: 600px) {


.pen {
  padding:20px
}
  
   .formInputs {
     
    display: flex;
    align-content: flex-start;
    justify-content: space-between;
    column-gap: 1rem;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
}




  .colorGroups input {
    padding: 4px;
    height: 50px;
    width: 80px;
}


  
.signature {
zoom: .5}

input[type=color] {
height:50px;
Width:50px;
Padding:2px}

input {
	   width: calc(100% - 36px);
}

.hand {
  width:90%;
}
  
  }
